{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'Issue'|trans %}
{% set gridName = 'issue-grid' %}

{% block navButtons %}
    {% if resource_granted('oro_issue_view') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('issue_create'),
                'entity_label': 'Issue'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}